<h1>Liste des taches </h1>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todos, let i =index">{{ todo.todoName}}
    <div [ngClass]="{encours:todo.todoStatus,terminee:!todo.todoStatus}">
        <button class="btn btn-primary m-1"  [disabled]=  "todo.todoStatus" (click) ="onChangeStatus(i)"> en cous de téléchrgement</button>
        <button class="btn btn-success"  [disabled]=  "!todo.todoStatus"  (click) ="onChangeStatus(i)"> Terminé</button>

<!--Action de modification-->
        <button class="btn btn-danger m-1"
                *ngIf="!todo.isModif"
                (click) ="onChangeIsModif(i)"> Modifier</button>
        <button class="btn btn-secondary m-1"
                *ngIf="todo.isModif"
                (click) ="onChangeIsModif(i)"> Fin</button>

        <input *ngIf="todo.isModif" [(ngModel)] = "todo.todoName" class="form-control"  />

    </div>

  </li>
</ul>
